<section class="row" 
>
    <div class="col-4">
        <p style="font-size:30px;">With time, you get to have vocabulary stick in your mind, through pillars of IMAGINATION and ASSOCIATION ( Misojis and Words). By placing the matched Misojis and words on your area of choice, you learn by repetition (it is highly advised that one places the MISOJIs on an area they will constantly see.</p>
    </div>
  <div class="col-8" >
    <!-- carousel -->
    <div class="carousel slide" id="idname1" data-bs-ride="carousel">
      <!-- carousel indicators(ol) -->
      <ol class="carousel-indicators">
        <li
          data-bs-target="#idname1"
          data-bs-slide-to="0"
          class="active"
        ></li>

        <li data-bs-target="#idname1" data-bs-slide-to="1"></li>

        <li data-bs-target="#idname1" data-bs-slide-to="2"></li>

        
      </ol>

      <!-- carousel -inner(div) -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="static/images/grade 3.jpg"
            alt=""
            class="d-block w-100"
          />
          
        </div>

        <div class="carousel-item">
            <img
              src="static/images/grade 4.jpg"
              alt=""
              class="d-block w-100 "
            />
           
          </div>

          <div class="carousel-item">
            <img
              src="static/images/grade 5.jpg"
              alt=""
              class="d-block w-100 h-50"
            />
            
          </div>

        
      <!-- carousel-controls (a)-->
      <a href="#idname1" class="carousel-control-prev" data-bs-slide="prev"
        ><span class="carousel-control-prev-icon"></span>
      </a>

      <a href="#idname1" class="carousel-control-next" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span
      ></a>
    </div>
  </div>
</section>
<!-- carousel end here -->