<h2 style="text-decoration: overline;" class="text-warning">Meet the Team</h2>
<section class="row">
  <div class="col-md-4">
    <center><img src="static/images/clling.jpg" alt="" style="border-radius: 100%;" class="img-fluid" /></center>
    <center><h4>Leonard Asanga</h4></center>
    <p>
      CEO-Founder of misoji
    </p>
    <center>
      <input
        type="button"
        value="Profile"
        class="btn btn-warning text-dark"
      />
    </center>
  </div>

  <div class="col-md-4">
    <center><img src="static/images/clling.jpg" alt="" style="border-radius: 100%;" class="img-fluid" /></center>
    <center><h4>Wesley Papa</h4></center>
    <p>
      Head of staff
    </p>
    <center>
      <input
        type="button"
        value="Profile"
        class="btn btn-warning text-dark"
      />
    </center>
  </div>

  <div class="col-md-4">
    <center><img src="static/images/clling.jpg" alt="" style="border-radius: 100%;" class="img-fluid" /></center>
    <center><h4>Allan Kiprop</h4></center>
    <p>
      Software Developer
    </p>
    <center>
      <input
        type="button"
        value="Profile"
        class="btn btn-warning text-dark"
      />
    </center>
  </div>
</section>
<br><br>
<section class="row">
  <div class="col-md-4">
    <center><img src="static/images/clling.jpg" alt="" style="border-radius: 100%;" class="img-fluid" /></center>
    <center><h4>Clare Njeri</h4></center>
    <p>
      Editor In Chief
    </p>
    <center>
      <input
        type="button"
        value="Profile"
        class="btn btn-warning text-dark"
      />
    </center>
  </div>

  <div class="col-md-4">
    <center><img src="static/images/clling.jpg" alt="" style="border-radius: 100%;" class="img-fluid" /></center>
    <center><h4>Carrey Francis</h4></center>
    <p>
      Head of finances
    </p>
    <center>
      <input
        type="button"
        value="Profile"
        class="btn btn-warning text-dark"
      />
    </center>
  </div>

  <div class="col-md-4">
    <center><img src="static/images/clling.jpg" alt="" style="border-radius: 100%;" class="img-fluid" /></center>
    <center><h4>Peace Kemuma</h4></center>
    <p>
      Editor In Chief
    </p>
    <center>
      <input
        type="button"
        value="Profile"
        class="btn btn-warning text-dark"
      />
    </center>
  </div>
</section>