<section class="row bg-dark pt-3 text-white">
    <div class="col-md-4"><center>
      <h4 >Modes of Payment</h4>
      <p>Mpesa </p>
      <p>Paypal</p>
      <p>Credit Card(Visa,Matercard)</p></center>
    </div>

    <div class="col-md-4 text-center">
      <h4>About Us</h4>
      <P>We are people passionate about making a significant change in the lives of every learner , making learning more interactive,exciting and f.We make learning easier through extracting key words in te syllabus,create novel designs using them and turn them ito stickers for a child-like approach to learning vocabulary.</P>
    </div>
   <div class="col-md-4 text-center">
      <h4>Reach Us</h4>
      <br><br>
      <a href="https://instagram.com/misoji_ke?igshid=MzRlODBiNWFlZA=="><i class="fa fa-instagram"></i><br /></a>
      <br><br>
    </div>
  </section>

  <section class="row ">
    <div class="col-12 pt-3">
      <footer class="bg-dark text-center text-white">
        <b> Developed by Allan</b><br />
        <i>&copy;All Rights Reserved 2023</i>
      </footer>
    </div>
  </section>